torch==2.4.1
typer==0.12.5
gluonts==0.15.1
absl-py==2.1.0
accelerate==0.34.2
aiohappyeyeballs==2.4.3
aiohttp==3.10.8
aiosignal==1.3.1
annotated-types==0.7.0
async-timeout==4.0.3
attrs==24.2.0
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
contourpy<=1.1.1
cycler==0.12.1
datasets==3.0.1
dill==0.3.8
filelock==3.16.1
fonttools<=4.54.1
frozenlist==1.4.1
fsspec==2024.9.0  # Updated to match gcsfs requirement
google-auth==2.35.0
google-auth-oauthlib==1.0.0
grpcio==1.66.2
huggingface-hub==0.25.1
idna==3.10
importlib-resources==6.4.5
jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.7
markdown==3.7
markdown-it-py==3.0.0
markupsafe==2.1.5
matplotlib<=3.7.3  # Downgraded to match ydata-profiling requirement
mdurl==0.1.2
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
networkx==3.1
numpy<=1.25.2  # Updated to avoid conflicts
oauthlib==3.2.2
orjson==3.10.7
pandas==2.0.3
pillow==10.4.0
protobuf<4.0.0dev  # Downgraded to match other packages' requirements
psutil==6.0.0
pyarrow<16  # Adjusted to match ibis-framework requirement
pyasn1==0.6.1
pyasn1-modules==0.4.1
pydantic<2  # Downgraded to avoid conflicts
pydantic-core<2  # Adjusted to match pydantic version
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.2
pyyaml==6.0.2
regex==2024.9.11
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.9.1
rsa==4.9
safetensors==0.4.5
scikit-learn==1.3.2
scipy==1.10.1
shellingham==1.5.4
sympy==1.13.3
tensorboard==2.14.0
tensorboard-data-server==0.7.2
threadpoolctl==3.5.0
tokenizers==0.20.0
toolz==0.12.1
tqdm==4.66.5
transformers==4.45.1
typer-config==1.4.0
tzdata==2024.2
urllib3<2.0.0  # Downgraded to avoid conflict with kfp
werkzeug==3.0.4
xxhash==3.5.0
yarl==1.13.1
peft